target
.settings
.project
.classpath
.checkstyle
bin
tmp

# OS X (Mac)
.DS_Store

*/gen/org/teiid/query/parser/v7/**/*.java
*/gen/org/teiid/query/parser/v8/**/*.java
*/gen/org/teiid/query/sql/lang/**/*.java
**/*.log
**/commandOutput.txt

**/_remote.repositories
.metadata/
.recommenders/
