<div>
  <div id="connections-breadcrumb-bar">
    <btl-breadcrumbs>
      <li i18n="@@connectionsCards.connections" btl-breadcrumb label="Connections" icon="plug" [route]="[ connectionsLink ]"></li>
      <li i18n="@@connectionsCards.addConnection" btl-breadcrumb label="Add Connection" icon="plus" class="active"></li>
    </btl-breadcrumbs>
  </div>
  <div class="container-fluid" *ngIf="!pageError">
    <div class="col-sm-12">
      <h2 class="btl-feature-title" i18n="@@add-connection.addConnection">Add Connection</h2>
    </div>
    <!-- Add Connection Wizard -->
    <div class="row">
      <btl-add-connection-wizard></btl-add-connection-wizard>
    </div>
  </div>
</div>

