body 
{
	background-image: url('../img/bg-index.jpg');		
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-color: #000000;
    color: black;
}

.teiid-logo-img {
	width: 90%;
}

.vdb-builder-title {
	text-align: center;
	color: black;
	text-shadow: 3px 3px 4px #fff;
	padding-bottom: 0.5em;
}

.vdb-builder-link-cell {
	text-align: center;
}

.vdb-builder-link {
	text-align: center;
	color: white;
	font-size: 20px;
}
